/* .App {
  text-align: center;
} */

.eventName {
 font-size: 28px; 
}

:root {
  background-color: black;
}

a {
  color: yellow;
}

.bg-dark {
  color: cyan;
}

.bg-black {
  background-color: black;
}

.bodyodyody {
  background-color: black;
  color: white;
  font-size: 20px;
}

img {
  border: 2px solid cyan;
  margin-right: auto;
  margin-bottom: 9px;
  border-radius: 9px;

}

.cyan {
  color: cyan;
}

.navbar {
  background-color: black;
  text-align: center;
  padding-bottom: 4px;
  font-size: 30px;
}



.center {
  height: 200px;
  width: 600px;

  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
}

.card {
  padding-bottom: 0;
  margin-bottom: 1rem;
  transition: all .2s ease-in-out;
  background-color: rgba(0,0,0,.001);
}

.card:hover {
  transform: scale(1.4);
  z-index: 1;
}

.card-title {
  font-weight: 500;
  font-size: 1.25rem;
}

.card-img {
  border-radius: 50px;
  border: 2px cyan solid;
}

.card-img-overlay .card-title {
  color: orange;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
}

.card-body > .card-title {
  font-family: Arial, Helvetica, sans-serif;
}